.summary {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  padding: 0 15px 5px;
  margin-bottom: 30px;
  margin-top: 10px;

  .time-range {
    color: #545454;
    margin-top: 13px;
    font-size: 14px;
    span {
      font-weight: bold;
    }
  }

  .profit {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    color: #18285F;
  }

  .divider {
    color: #d3d3d3;
    font-size: 30px;
    font-weight: 100;
    margin: 0 15px;
  }

  .question-mark {
    width: 24px;
    height: 24px;
    vertical-align: sub;
  }

  .icon-up {
    transform: rotate(90deg);
    color: #43b11f;
    font-size: 14px;
  }

  .icon-down {
    transform: rotate(-90deg);
    color: #b11f1f;
    font-size: 14px;
    vertical-align: super;
    margin-right: -10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 650px) {
  .summary {
    padding: 3px 0 0;

    .time-range {
      position: absolute;
      margin-top: 30px;
      right: 0;
    }

    .profit {
      margin: auto;
      font-size: 16px;

      span {
        font-weight: 300;
        font-size: 14px;
      }

      .question-mark {
        font-size: 16px;
      }
    }
  }
}

.tooltip-container {
  position: absolute;
  z-index: 100;
  width: 297px;
  top: 22px;
  box-shadow: 2px 2px 23px 0 rgba(0, 0, 0, 0.15);
  font-weight: 300;

  @media screen and (max-width: 650px) {
    top: 12px;
    left: 0 !important;
  }

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ffc10e;
    top: -12px;
    left: calc(50% - 12px);
  }
  .tooltip-content {
    position: relative;
    height: 183px;
    width: 297px;
    background-color: #ffffff;

    .tooltip-header {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      background-color: #ffc10e;
      font-family: 'Assistant', sans-serif;
      font-size: 14px;
      color: #18285f;
      letter-spacing: 0;
    }

    .tooltip-body {
      padding: 20px 15px 8px;
      background-color: #ffffff;
      font-family: 'Assistant', sans-serif;
      font-size: 14px;
      color: #52575c;
      text-align: right;
      line-height: 20px;
    }
  }
}
