<div class="summary">
  <div class="time-range">
    <span>{{data?.endDate | date : 'dd.MM.yy'}} </span> {{'SUMMARY.FROM' | translate}}
    <span>{{data?.startDate | date : 'dd.MM.yy'}} </span> {{'SUMMARY.TO' | translate}}
  </div>
  <div class="profit">
    <img
      src="assets/icons/product_help.svg"
      class="question-mark"
      (mouseover)="isOpen = !isOpen; currency = !currency"
      (mouseleave)="isOpen = !isOpen; currency = !currency"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
    >
    <img [src]="!down ? 'assets/icons/stock_arrow_up.svg' : 'assets/icons/stock_arrow_down.svg'"> ₪ 19,000
    <span class="divider">|</span>
    <img
      src="assets/icons/product_help.svg"
      class="question-mark"
      (mouseover)="isOpen = !isOpen; percentage = !percentage"
      (mouseleave)="isOpen = !isOpen; percentage = !percentage"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
    >
    <img [src]="!down ? 'assets/icons/stock_arrow_up.svg' : 'assets/icons/stock_arrow_down.svg'"> 4.5%
    <span>{{'SUMMARY.LABEL' | translate}}</span>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <div
    class="tooltip-container"
    [ngStyle]="{'left': currency ? '-137px' : '36px'}"
  >
    <div
      class="triangle"
      [ngStyle]="{'left': (currency && isMobile) ? '0' : (!currency && isMobile) ? '146px' : 'calc(50% - 12px)'}"
    ></div>
    <div class="tooltip-content">
      <div class="tooltip-header">
      <span *ngIf="currency">
        {{'TOOLTIP.CURRENCY_HEADER' | translate}}
      </span>
        <span *ngIf="percentage">
        {{'TOOLTIP.PERCENTAGE_HEADER' | translate}}
      </span>
      </div>
      <div class="tooltip-body">
      <span *ngIf="currency">
        {{'TOOLTIP.CURRENCY_BODY' | translate}}
      </span>
        <span *ngIf="percentage">
        {{'TOOLTIP.PERCENTAGE_BODY' | translate}}
      </span>
      </div>
    </div>
  </div>
</ng-template>
