.summary {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  padding: 10px 15px;

  .time-range {
    color: #85898c;
    margin-top: 10px;

    span {
      color: #52575b;
      font-weight: 500;
    }
  }

  .profit {
    font-size: 20px;
    font-weight: 700;
    color: #19285f;
  }

  .divider {
    color: #d3d3d3;
    font-size: 30px;
    font-weight: 100;
    margin: 0 15px;
  }

  .question-mark {
    vertical-align: sub;
  }

  .icon-up {
    transform: rotate(90deg);
    color: #43b11f;
    font-size: 14px;
  }
}
