<div class="summary">
  <div class="time-range">
    <span>{{data?.endDate | date : 'dd.MM.yy'}} </span> נכון מ
    <span>{{data?.startDate | date : 'dd.MM.yy'}} </span> עד
  </div>
  <div class="profit">
    <img
      src="assets/icons/product_help.svg"
      class="question-mark"
      (mouseover)="isOpen = !isOpen; currency = !currency"
      (mouseleave)="isOpen = !isOpen; currency = !currency"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
    >
    <img [src]="!down ? 'assets/icons/stock_arrow_up.svg' : 'assets/icons/stock_arrow_down.svg'"> ₪ 19,000
    <span class="divider">|</span>
    <img
      src="assets/icons/product_help.svg"
      class="question-mark"
      (mouseover)="isOpen = !isOpen; percentage = !percentage"
      (mouseleave)="isOpen = !isOpen; percentage = !percentage"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
    >
    <img [src]="!down ? 'assets/icons/stock_arrow_up.svg' : 'assets/icons/stock_arrow_down.svg'"> 4.5%
    <span dir="rtl">תשואה לתקופה:</span>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <div
    class="tooltip-container"
    [ngStyle]="{'left': currency ? '-137px' : '36px'}"
  >
    <div
      class="triangle"
      [ngStyle]="{'left': (currency && isMobile) ? '0' : (!currency && isMobile) ? '146px' : 'calc(50% - 12px)'}"
    ></div>
    <div class="tooltip-content">
      <div class="tooltip-header">
      <span *ngIf="currency">
        חישוב תשואה בשקלים
      </span>
        <span *ngIf="percentage">
        חישוב תשואה באחוזים
      </span>
      </div>
      <div class="tooltip-body" dir="rtl">
      <span *ngIf="currency">
        תשואת פיקדון ניירות ערך בכסף תחושב כהפרש בין יתרת הנכסים בתחילת ובסוף התקופה, בנטרול רכישות בניכוי מכירות , דיבידנדים, קופונים וריביות, ומשקף עלייה/ירידה בשווי הנכסים שלא מומשו לסוף התקופה, לפני מס.
      </span>
        <span *ngIf="percentage">
        תשואת פיקדון ניירות ערך באחוזים תחושב בשיטת TWR ללא שיובאו בחשבון הוצאות מיסים. בשיטה זו מחשבים תשואות לתתי תקופות בהם התקיים תזרים מזומנים בחשבון. התשואה המצטברת היא מכפלת כל התתי התקופות.
      </span>
      </div>
    </div>
  </div>
</ng-template>
