.selectors-wrapper {
  display: flex;
  justify-content: space-between;

  .currency {
    width: 40px;
  }

  .assets {
    mat-select,
    h4 {
      display: inline !important;
    }

    h4 {
      color: #18285F;
      font-size: 20px;
      font-weight: bold;
    }
  }
  mat-form-field {
    margin-right: 20px;
  }
}

.range-selectors {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;

  button {
    font-family: 'Assistant', sans-serif;
    font-size: 14px;
    background-color: #f6f6f6;
    color: #18285F;
    width: 170px;
    min-width: 100px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 20px;

    &:hover {
      cursor: pointer;
    }

    &.active {
      background-color: #ffc10e;
      color: #18285F;
      font-weight: 600;
    }
  }
}
