.selectors-wrapper {
  display: flex;
  justify-content: space-between;

  .currency {
    width: 58px;
  }

  .assets {
    mat-select,
    h4 {
      display: inline !important;
    }

    h4 {
      color: #18285F;
      font-size: 20px;
      font-weight: bold;
    }
  }
  mat-form-field {
    margin-right: 20px;
  }
}

.range-selectors {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  overflow: scroll;

  button {
    font-family: 'Assistant', sans-serif;
    font-size: 14px;
    background-color: #f6f6f6;
    color: #18285F;
    width: 130px;
    min-width: 100px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
    }

    &.active {
      background-color: #ffc10e;
      color: #18285F;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 600px) {
  .range-selectors {
    button {
      margin-right: 15px;

      &:nth-last-child {
        margin-right: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .selectors-wrapper {
    .assets {
      h4 {
        font-size: 20px;
        color: #545454;
        border-right: 1px solid #ffc10e;
        font-weight: 300;
        padding-right: 5px;
        margin-left: 15px;
      }
    }
    mat-form-field {
      margin-right: 10px;
    }
  }
}
