<p-chart type="line"
         [data]="lineStylesData"
         [options]="config"
         [height]="'350px'"
></p-chart>

<div class="add-index">
    <a *ngIf="!isCollapsed" (click)="onCancelIndexes()">{{'CHART.CANCEL' | translate}}</a>
  <button
    (click)="onExpand()"
  >
    {{'CHART.COMPARISON' | translate}}
    <span><mat-icon>{{isCollapsed ? 'add' : 'remove'}}</mat-icon></span>
  </button>
</div>
<div class="description" *ngIf="!isCollapsed">
  <span>{{'CHART.BUTTON_LABEL' | translate}}</span>
</div>
<app-index-selection
  *ngIf="!isCollapsed"
  [collapsed]="isCollapsed"
  [indexCollection]="indexes"
  [cancel$]="cancel$.asObservable()"
  (selectedIndexes)="onIndexChange($event)"
  (collapse)="onExpand()"
></app-index-selection>
