<div id="lvt-chart-box" class="chart-box">
  <p-chart #chart
           type="line"
           [data]="lineStylesData"
           [options]="config"
           [height]="'350px'"
  ></p-chart>

  <div class="chart-box__navigation">
    <mat-icon class="chart-box__controller"
              [class.show]="config?.scales.x.min > 0"
              (click)="scrollChartHandler(-1)">
      arrow_back_ios
    </mat-icon>
    <mat-icon class="chart-box__controller"
              [class.show]="config?.scales.x.max !== portfolio?.periodYield?.length"
              (click)="scrollChartHandler(1)">
      arrow_forward_ios
    </mat-icon>
  </div>

  <div id="chartJs-shift" class="highlighted-area">
    <div class="highlighted-area__info">
      <mat-icon (click)="showInfoBox = true">info_outline</mat-icon>
    </div>

    <div class="highlighted-area__box" *ngIf="showInfoBox">
      <div class="highlighted-area__header">
        <span class="highlighted-area__close" (click)="showInfoBox = false"></span>
        <p>{{'HIGHLIGHT_BOX.TITLE' | translate}}</p>
      </div>
      <div class="highlighted-area__body">
        <p>{{'HIGHLIGHT_BOX.DESCRIPTION' | translate}}</p>
      </div>
    </div>
  </div>
<!--  <div class="chart-box__no-data">-->
<!--    <div class="no-data">-->
<!--      <mat-icon>info_outline</mat-icon>-->
<!--      <p class="no-data__text">{{'CHART.NO_DATA' | translate}}</p>-->
<!--    </div>-->
<!--  </div>-->
</div>

<div class="mobile-tooltips" *ngIf="isMobile">
  <div class="mobile-tooltips__wrapper">
    <table class="tooltip-table tooltip-table--mobile" *ngFor="let tooltip of mobileTooltipsArray; index as i">
      <thead class="tooltip-table__head">
      <tr>
        <th>
          <span class="tooltip-table__close" (click)="closeMobileTooltipsView()"></span>
          <span class="tooltip-table__title"> עד {{tooltip.date}}  |  שווי תיק: <strong>{{tooltip.sum}}</strong> ₪</span>
        </th>
      </tr>
      </thead>
      <tbody class="tooltip-table__body">
      <tr class="mobile-tooltips__value" *ngFor="let data of tooltip.data">
        <td>
          <span class="tooltip-pin" [style.backgroundColor]="data.color"></span>
          <p class="name">{{data.label}}</p>
          <p class="to-end">{{data.value}}%</p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="add-index">
    <a *ngIf="!isCollapsed" (click)="onCancelIndexes()">{{'CHART.CANCEL' | translate}}</a>
  <button
    [disabled]="!stockIndexes?.length"
    (click)="onExpand()"
  >
    {{'CHART.COMPARISON' | translate}}
    <span><mat-icon>{{isCollapsed ? 'add' : 'remove'}}</mat-icon></span>
  </button>
</div>
<div class="description" *ngIf="!isCollapsed">
  <span>{{'CHART.BUTTON_LABEL' | translate}}</span>
</div>
<div class="no-indexes-label" *ngIf="!stockIndexes?.length">
  <span>{{'CHART.NO_INDEXES_LABEL' | translate}}</span>
</div>
<app-index-selection
  *ngIf="!isCollapsed"
  [collapsed]="isCollapsed"
  [indexCollection]="stockIndexes"
  [cancel$]="cancel$.asObservable()"
  (collapse)="onExpand()"
></app-index-selection>

<!--(selectedIndexes)="onIndexChange($event)"-->
