<div class="dialog-content">
  <mat-dialog-content [formGroup]="form">
    <div class="row">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>DD/MM/YY</mat-label>
        <input matInput [matDatepicker]="pickerStart" [min]="minDate" [max]="maxDate" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="pickerStart">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>
      <div class="label">{{'DATE_RANGE.START' | translate}}</div>
    </div>

    <div class="row">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>DD/MM/YY</mat-label>
        <input matInput [matDatepicker]="pickerEnd" [min]="minDate" [max]="maxDate" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
      <div class="label">{{'DATE_RANGE.END' | translate}}</div>
    </div>

    <div class="row">
      <div
        class="validation-message"
        *ngIf="(form.controls['startDate'].value > form.controls['endDate'].value) && form.controls['endDate'].value"
      >
        {{'VALIDATION.GREATER_THAN' | translate}}
      </div>
      <div
        class="validation-message"
        *ngIf="(form.controls['startDate'].touched && !form.controls['startDate'].value) ||
               (form.controls['endDate'].touched && !form.controls['endDate'].value)"
      >
        {{'VALIDATION.REQUIRED' | translate}}
      </div>
      <div
        class="validation-message"
        *ngIf="form.controls['startDate']?.hasError('invalidDate')"
      >
        {{'VALIDATION.INVALID_DATE' | translate}}
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="save">
      <button
        class="mat-button mat-raised-button mat-primary"
        (click)="save()"
        [disabled]="form.invalid"
      >
        {{'BUTTON.SAVE' | translate}}
      </button>
    </div>
    <div class="close">
      <button
        class="mat-button"
        (click)="close()"
      >
        {{'BUTTON.CLOSE' | translate}}
      </button>
    </div>
  </mat-dialog-actions>
</div>
