<div class="dialog">
  <div class="dialog-content" [formGroup]="form">
    <div class="triangle"></div>
    <div class="row">
      <mat-form-field class="example-full-width" appearance="fill">
        <input
          matInput
          inputmode="numeric"
          [matDatepicker]="pickerStart"
          [min]="minDate"
          [max]="maxDate"
          formControlName="startDate"
          placeholder="DD/MM/YY"
          autocomplete="off"
        >
        <mat-error
          *ngIf="form.controls['startDate']?.errors && form.controls['startDate']?.value"
        >
          תאריך לא חוקי
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>
      <div class="label" dir="rtl">מתאריך:</div>
    </div>

    <div class="row">
      <mat-form-field class="example-full-width" appearance="fill">
        <input
          matInput
          inputmode="numeric"
          [matDatepicker]="pickerEnd"
          [min]="minDate" [max]="maxDate"
          formControlName="endDate"
          placeholder="DD/MM/YY"
          autocomplete="off"
        >
        <mat-error
          *ngIf="form.controls['endDate']?.errors && form.controls['endDate']?.value"
        >
          תאריך לא חוקי
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
      <div class="label" dir="rtl">עד תאריך:</div>
    </div>

    <div class="row">
      <div class="hint" dir="rtl">
        ניתן לבחור עד 3 שנים אחורה
      </div>
    </div>

    <div class="row">
      <div class="actions">
        <div class="save">
          <button
            class="mat-button mat-raised-button mat-primary"
            (click)="save()"
            [disabled]="!(form.valid && (form.controls['startDate'].value < form.controls['endDate'].value))"
          >
            הצגה
          </button>
        </div>
        <div class="close">
          <button
            class="mat-button"
            (click)="close()"
          >
            ביטול
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
