<button [mat-dialog-close]="true" cdkFocusInitial>
  <img src="assets/icons/ic_close.svg" alt="close">
</button>
<div class="dialog">
  <h2 mat-dialog-title dir="rtl">מידע נוסף ותנאי שימוש</h2>
  <mat-dialog-content class="mat-typography" dir="rtl">
    <ul class="dialog-list">
      <li>
        שיטת חישוב התשואה הינה TWR (Time Weighted Rate of Return) במונחי ברוטו ללא ניכוי מס וללא ניכוי עמלות ואינה משקפת בהכרח רווח/הפסד כספי. בשיטה זו מחשבים תשואות לתתי תקופות (יום) וממזגים את התוצאות יחד לכדי תשואה מצטברת, ע"י הכפלת התשואות היומיות זו בזו.
      </li>
    </ul>
      <div class="formula">
        <h3>
          להלן הנוסחה:
        </h3>
        <p dir="rtl">
          Ri - שיעור התשואה לתקופה ה- i , יחושב באופן הבא: <b>𝑅𝑖=[𝑣𝑖𝑇−𝑀𝑖𝑣𝑖0−1]</b>
          <br>
          R - שיעור התשואה המצטבר, יחושב באופן הבא: <b>𝑅=[Π(1+𝑅𝑖)−1𝑛𝑖=1]∗100 </b>
        </p>
      </div>
      <div class="formula">
        <h3>
          מקרא:
        </h3>
        <p dir="rtl">
          π - מכפלת הביטויים הכלולים בסוגריים שלאחריו.
          <br>
          i - אינדקס לתקופה בה לא התקיים תזרים מזומנים בחשבון, למעט בסוף התקופה.
          <br>
          n - מספר התקופות הנ"ל (תקופה מוגדרת כמשך הזמן בו לא היה תזרים מזומנים, אלא בסופה).
          <br>
          𝑣𝑖𝑇 - שווי פיקדון ניירות הערך בסוף התקופה ה- i .
          <br>
          𝑣𝑖0 - שווי התחלתי של פיקדון ניירות הערך בתקופה ה- i .
        </p>
      </div>
    <ul class="dialog-list">
      <li>
       Mi - סך הכספים או הנכסים שהופקדו בפיקדון הלקוח בניכוי הסכומים או הנכסים שנמשכו או הוצאו מפיקדון הלקוח בסוף התקופה ה- i . <b>אירועי חברה בני"ע,</b> הכוללים בין היתר דיבידנדים, ריביות, המרה וכו' יבואו לידי ביטוי בחישוב התשואה. מקום בו בוצעה גם פעילות שלא על פי ייעוץ ההשקעות שניתן מטעם הבנק, התשואה משקפת גם את תוצאותיה של פעילות זו. במהלך תקופת החישוב החשבון היה מנוהל ע"י מנהל תיקים חיצוני והתשואה המחושבת הינה בנטרול תקופה זאת.
      </li>
      <li>
        <b>חשבון שנסגר</b>  – התשואה מדווחת עד ליום העסקים או ליום המסחר האחרון שקדם לסגירת החשבון, לפי העניין, ושבו היה בחשבונך פיקדון ני"ע.
      </li>
      <li>
        ככל  שקיים  בתיק  <b> נייר ערך לא סחיר,</b> ייתכן כי התשואה המוצגת בתיק ניירות הערך בכלל וביחס לנייר האמור בפרט לא תשקף במדויק את תשואת פיקדון ני"ע.
      </li>
      <li>
        <b>מטבע שאינו ש"ח</b> -, בעת חישוב תשואה, הנתונים יחושבו ע"פ שער יציג ידוע אחרון של אותו מטבע ביחס למועד הדיווח, וע"פ שער זה יבוצע החישוב על כלל הפקדון.
      </li>
      <li>
        <b>הדיווח הוא בשקל חדש,</b> בשער היציג של בנק ישראל ושידוע ביום האחרון של התקופה. לקבלת הדיווח במט"ח יש לפנות לסניף הבנק שבו מתנהל חשבונך.
      </li>
      <li>
        <b>הדיווח הוא במטבע חוץ,</b> והוא כולל את השער היציג של מטבע החוץ הרלבנטי ביום האחרון של התקופה, וכן את שיעור השינוי ביחס לשקל חדש במהלך התקופה.
      </li>
      <li>
        <b>בחישוב תשואה על העו"ש </b> נכלל גם השינוי במטבע הקיים בחשבון ביחס למטבע המבוקש לחישוב התשואה.
      </li>
      <li>
        החישוב אינו מהווה אסמכתא מחייבת לצורך קיזוזי הפסדים ו/או ביחס לחבות מס.
      </li>
      <li>
        <b>נגזרים: </b> כאשר בתיק מסוים מוחזקות יתרות בחסר (שורטים), אין משמעות לחישוב התשואה באחוזים. לכן, אם במהלך תקופת החישוב קיימות בתיק יתרות בחסר, יוצג רווח/הפסד כספי בלבד ולא תוצג תשואה באחוזים.
      </li>
      <li>
        <b>העברות מחשבון לחשבון: </b> בהעברות של ני"ע בודדים ו/או פיקדונות, תשואתם תוצג עד יום ההעברה בחשבון המעביר ומיום ההעברה בחשבון המקבל. במקרה של ניוד חשבון (לרבות ניוד בקליק) כל היסטוריית התשואות עוברת מחשבון לחשבון.
      </li>
      <li>
        על אף שהבנק ערך את החישוב במקצועיות ותוך מאמץ להבטיח את נכונות חישוב התשואה, הבנק ו/או עובדיו ו/או מי מטעמו אינם אחראים לשלמותם, נכונותם או דיוקם של הנתונים ו/או החישוב ו/או כל אי דיוק, שגיאה, השמטה או חישוב שגוי.
      </li>
      <li>
        ניתן להפיק את חישוב התשואה החל מתאריך 1.1.2023, כאשר התקופה המקסימלית לחישוב הינה עד שלוש שנים אחורנית ובכפוף לתאריך התחילה.
      </li>
      <li>
        <b>שערוך פיקדונות: </b> לצורך חישוב התשואה, הפקדונות משוערכים יומית וצוברים את הריבית בהדרגה במהלך תקופת החישוב. שווי נוכחי למועד השערוך חושב ע"פ תנאי הפקדון בהנחה שהכספים יהיו מופקדים עד תום תקופת הפקדון. בפקדונות צמודי מדד/מט"ח: השווי הנוכחי כולל ריבית וגם את הפרשי ההצמדה עד ל"מועד השערוך" (יום העסקים הקודם ליום הצגת שערוך זה).
      </li>
      <li>
        <b>פקדונות מסוג "ברירה", בהם מספר חלופות: </b> שווי נוכחי חושב לפי החלופה אשר במועד השערוך סכומה גבוה יותר.
      </li>
      <li>
        <b>פקדונות בריבית מדורגת: </b> חישובי התשואות מתבצעים בהנחה שהתכנית תוחזק עד תום התקופה.
      </li>
      <li>
        <b>דוקו - פיקדון דו מטבעי בו הקרן אינה מובטחת במטבע ההפקדה: </b> במוצר זה ייבדק תנאי ההמרה בכל יום במהלך חיי המוצר. באם יתקיים התנאי, יתבצע חישוב המדמה ביצוע המרה של הקרן למטבע הנגדי לפי שער המימוש ותרגום שווי הקרן בחזרה למטבע ההפקדה לפי השער היציג באותו יום. הריבית תמשיך להיצבר יומית במטבע ההפקדה. באם לא יתקיים תנאי ההמרה, המוצר יציג תשואה יומית מצטברת ליניארית בגובה הריבית במטבע ההפקדה. תנאי ההמרה ייבחן כל יום מחדש ובהתאם החישובים עשויים להשתנות. בפירעון תשוקף תשואת הפיקדון בפועל לפי אותו מנגנון חישוב.
      </li>
      <li>
        <b>מוצרים מובנים בהם קרן הפיקדון מובטחת: </b> לאורך חיי המוצר תיכלל בחישוב התשואה רק הקרן המובטחת וריבית / מענק מובטחים מראש (אם קיימים). תשואת הפיקדון המלאה תבוא לידי ביטוי רק ביום תשלום המענק בפועל.
      </li>
      <li>
        התשואה נכונה עבור כספים שהיו בפיקדון במשך כל תקופת החישוב. אם שווי תיק ההשקעות משתנה באופן מהותי במהלך תקופת החישוב, כגון: אם היו שינויי הפקדות או משיכות מהותיים, או במצב של תנודתיות גבוהה בשוק ההון - יתכן והתשואה באחוזים לפי מודל TWR לא תותאם לרווח / להפסד הכספי הנצבר בתיק.
      </li>
      <li>
        הנתונים המוצגים ביחס לפיקדון ני"ע מתייחסים לטווח התאריכים שבחרת
      </li>
      <li>
        התשואה בפיקדון ניירות הערך מחושבת ביחס ליום העסקים או ליום המסחר האחרון בניירות הערך לגביהם קיימים נתונים, לפי העניין.
      </li>
      <li>
        <b>מדדים להשוואה: </b> מוצגים מספר מדדים מובילים (בנצ'מרק) ולצידם התשואה הרלוונטית לאותה תקופה לצורך אינדיקציה בלבד. במדדי חו"ל מצויינת תשואת ETF העוקב אחר אותו מדד.
      </li>
    </ul>
  </mat-dialog-content>
</div>
