<div
  class="disclaimer-content"
  dir="rtl"
>
  <div class="disclaimer" *ngIf="formValue?.assets === tags[0]">
    חישוב התשואה בוצע בגין תיק ניירות הערך ופקדונות מובנים בחשבון בלבד בהתאם לתקופה המבוקשת.
    <br>
    שיטת חישוב התשואה הינה TWR (Time Weighted Rate of Return) במונחי נטו, בניכוי עמלות וללא ניכוי מס.
  </div>
  <div class="disclaimer" *ngIf="formValue?.assets === tags[1]">
    חישוב התשואה בוצע בגין תיק ניירות הערך ו/או פיקדונות (כולל מובנים) בחשבון בלבד בהתאם לתקופה המבוקשת.
    <br>
    שיטת חישוב התשואה הינה TWR (Time Weighted Rate of Return) במונחי נטו, בניכוי עמלות וללא ניכוי מס.
  </div>
  <div class="disclaimer" *ngIf="formValue?.assets === tags[2]">
    חישוב התשואה בוצע בגין תיק ניירות הערך ו/או פיקדונות (כולל מובנים) ו/או יתרות עו"ש בחשבון בלבד בהתאם לתקופה המבוקשת.
    <br>
    שיטת חישוב התשואה הינה TWR (Time Weighted Rate of Return) במונחי נטו, בניכוי עמלות וללא ניכוי מס.
  </div>
</div>

<div class="button-block">
  <button
    type="button"
    (click)="openDialog()"
  >
    לתשומת לבך
  </button>
</div>
