<div
  class="disclaimer-content"
  dir="rtl"
>
  <div class="disclaimer" *ngIf="formValue?.assets === tags[0]">
    חישוב התשואה בוצע בגין תיק ניירות הערך ופקדונות מובנים בחשבון בלבד בהתאם לתקופה המבוקשת.
    <br>
    שיטת חישוב התשואה הינה TWR (Time Weighted Rate of Return) במונחי נטו, בניכוי עמלות וללא ניכוי מס.
  </div>
  <div class="disclaimer" *ngIf="formValue?.assets === tags[1]">
    חישוב התשואה בוצע בגין תיק ניירות הערך ו/או פיקדונות (כולל מובנים) בחשבון בלבד בהתאם לתקופה המבוקשת.
    <br>
    שיטת חישוב התשואה הינה TWR (Time Weighted Rate of Return) במונחי נטו, בניכוי עמלות וללא ניכוי מס.
  </div>
  <div class="disclaimer" *ngIf="formValue?.assets === tags[2]">
    חישוב התשואה בוצע בגין תיק ניירות הערך ו/או פיקדונות (כולל מובנים) ו/או יתרות עו"ש בחשבון בלבד בהתאם לתקופה המבוקשת.
    <br>
    שיטת חישוב התשואה הינה TWR (Time Weighted Rate of Return) במונחי נטו, בניכוי עמלות וללא ניכוי מס.
  </div>
</div>

<div class="button-block">
  <button type="button" (click)="isCollapsed = !isCollapsed">
    <img alt="arrow" [src]="isCollapsed ? 'assets/icons/arrow_down.svg' : 'assets/icons/arrow_up.svg'">
    לתשומת לבך
  </button>
</div>

<div class="pay-attention" *ngIf="!isCollapsed" dir="rtl">
  שיטת חישוב התשואה הינה TWR (Time Weighted Rate of Return) במונחי ברוטו ללא ניכוי מס וללא ניכוי עמלות ואינה משקפת בהכרח רווח/הפסד כספי. בשיטה זו מחשבים תשואות לתתי תקופות (יום) וממזגים את התוצאות יחד לכדי תשואה מצטברת, ע"י הכפלת התשואות היומיות זו בזו.
  להלן הנוסחא:
  <br>
  אירועי חברה בניירות ערך, הכוללים בין היתר דיבידנדים, ריביות, המרה וכו' יבואו לידי ביטוי בחישוב התשואה.
  <br>
  לתשומת הלב! מקום בו בוצעה גם פעילות שלא על פי ייעוץ ההשקעות שניתן מטעם הבנק, התשואה משקפת גם את תוצאותיה של פעילות זו.
  <br>
  במהלך תקופת החישוב החשבון היה מנוהל ע"י מנהל תיקים חיצוני והתשואה המחושבת הינה בנטרול תקופה זאת.
  <br>
  ביחס לחשבון שנסגר – התשואה מדווחת עד ליום העסקים או ליום המסחר האחרון שקדם לסגירת החשבון, לפי העניין, ושבו היה בחשבונך פיקדון ניירות ערך.
  <br>
  ככל שקיים בתיק נייר ערך לא סחיר, ייתכן כי התשואה המוצגת בתיק ניירות הערך בכלל וביחס לנייר האמור בפרט לא תשקף במדויק את תשואת פיקדון ני"ע.
  <br>
  בעת חישוב תשואה במטבע שאינו שח, הנתונים יחושבו ע"פ שער יציג ידוע אחרון של אותו מטבע ביחס למועד הדיווח, וע"פ שער זה יבוצע החישוב על כלל הפקדון.
  <br>
  הדיווח הוא בשקל חדש, בשער היציג של בנק ישראל ושידוע ביום האחרון של התקופה. לקבלת הדיווח במט"ח יש לפנות לסניף הבנק שבו מתנהל חשבונך.
  <br>
  הדיווח הוא במטבע חוץ, והוא כולל את השער היציג של מטבע החוץ הרלבנטי ביום האחרון של התקופה, וכן את שיעור השינוי ביחס לשקל חדש במהלך התקופה.
  <br>
  בחישוב תשואה על העו"ש נכלל גם השינוי במטבע הקיים בחשבון ביחס למטבע המבוקש לחישוב התשואה.
  <br>
  החישוב אינו מהווה אסמכתא מחייבת לצורך קיזוזי הפסדים ו/או ביחס לחבות מס.
  <br>
  נגזרים: כאשר בתיק מסוים מוחזקות יתרות בחסר (שורטים), אין משמעות לחישוב התשואה באחוזים. לכן, אם במהלך תקופת החישוב קיימות בתיק יתרות בחסר, יוצג רווח/ הפסד כספי בלבד ולא תוצג תשואה באחוזים.
  <br>
  העברות מחשבון לחשבון: בהעברות של ניירות ערך בודדים ו/או פיקדונות, תשואתם תוצג עד יום ההעברה בחשבון המעביר ומיום ההעברה בחשבון המקבל. במקרה של ניוד חשבון (לרבות ניוד בקליק) כל היסטוריית התשואות עוברת מחשבון לחשבון.
  <br>
  על אף שהבנק ערך את החישוב במקצועיות ותוך מאמץ להבטיח את נכונות חישוב התשואה, הבנק ו/או עובדיו ו/או מי מטעמו אינם אחראים לשלמותם, נכונותם או דיוקם של הנתונים ו/או החישוב ו/או כל אי דיוק, שגיאה, השמטה או חישוב שגוי.
  <br>
  ניתן להפיק את חישוב התשואה החל מתאריך 1.1.2023 , כאשר התקופה המקסימלית לחישוב הינה עד שלוש שנים אחורנית ובכפוף לתאריך התחילה.
  <br>
  שערוך פיקדונות: לצורך חישוב התשואה, הפיקדונות משוערכים יומית וצוברים את הריבית בהדרגה במהלך תקופת החישוב. שווי נוכחי למועד השערוך חושב ע"פ תנאי הפקדון בהנחה שהכספים יהיו מופקדים עד תום תקופת הפקדון. בפקדונות צמודי מדד/מט"ח: השווי הנוכחי כולל ריבית וגם את הפרשי ההצמדה עד ל"מועד השערוך" (יום העסקים הקודם ליום הצגת שערוך זה).
  <br>
  פקדונות מסוג "ברירה", בהם מספר חלופות: שווי נוכחי חושב לפי החלופה אשר במועד השערוך סכומה גבוה יותר.
  <br>
  פקדונות בריבית מדורגת: חישובי התשואות מתבצעים בהנחה שהתכנית תוחזק עד תום התקופה.
  <br>
  דוקו - פיקדון דו מטבעי בו הקרן אינה מובטחת במטבע ההפקדה: במוצר זה ייבדק תנאי ההמרה בכל יום במהלך חיי המוצר. באם יתקיים התנאי, יתבצע חישוב המדמה ביצוע המרה של הקרן למטבע הנגדי לפי שער המימוש ותרגום שווי הקרן בחזרה למטבע ההפקדה לפי השער היציג באותו יום. הריבית תמשיך להיצבר יומית במטבע ההפקדה. באם לא יתקיים תנאי ההמרה, המוצר יציג תשואה יומית מצטברת ליניארית בגובה הריבית במטבע ההפקדה. תנאי ההמרה ייבחן כל יום מחדש ובהתאם החישובים עשויים להשתנות. בפירעון תשוקף תשואת הפיקדון בפועל לפי אותו מנגנון חישוב.
  <br>
  במוצרים מובנים בהם קרן הפיקדון מובטחת, לאורך חיי המוצר תיכלל בחישוב התשואה רק הקרן המובטחת וריבית / מענק מובטחים מראש (אם קיימים). תשואת הפיקדון המלאה תבוא לידי ביטוי רק ביום תשלום המענק בפועל.
  <br>
  התשואה נכונה עבור כספים שהיו בפיקדון במשך כל תקופת החישוב. אם שווי תיק ההשקעות משתנה באופן מהותי במהלך תקופת החישוב, כגון: אם היו שינויי הפקדות או משיכות מהותיים, או במצב של תנודתיות גבוהה בשוק ההון - יתכן והתשואה באחוזים לפי מודל TWR לא תותאם לרווח / להפסד הכספי הנצבר בתיק.
  <br>
  הנתונים המוצגים ביחס לפיקדון ניירות ערך מתייחסים לטווח התאריכים שבחרת
  <br>
  התשואה בפיקדון ניירות הערך מחושבת ביחס ליום העסקים או ליום המסחר האחרון בניירות הערך לגביהם קיימים נתונים, לפי העניין.
  <br>
  מדדים להשוואה: מוצגים מספר מדדים מובילים (בנצ'מרק) ולצידם התשואה הרלוונטית לאותה תקופה לצורך אינדיקציה בלבד. במדדי חו"ל מצויינת תשואת ETF העוקב אחר אותו מדד.
</div>
