@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: 'Assistant', sans-serif;
  margin: 0;
  padding: 30px;
  min-width: 335px;

  @media screen and (max-width: 624px) {
    padding: 20px;
  }
}

.mat-form-field {
  text-align: right !important;
  max-width: 100%;
}

.mat-select-arrow-wrapper {
  position: absolute !important;
}

.mat-option-text {
  text-align: right !important;
}

.mat-form-field-appearance-fill {
  .mat-form-field-flex {
    background-color: transparent !important;
    padding: 0 !important;
  }
  .mat-form-field-infix {
    padding: 0 !important;
    @media screen and (max-width: 600px) {
      max-width: 140px !important;
    }
  }
}

.mat-option,
.mat-select-value,
.mat-primary .mat-pseudo-checkbox,
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  font-family: 'Assistant', sans-serif;
  color: #545454 !important;
}

.mat-select-value {
  color: #18285F !important;
}

.mat-select-arrow-wrapper {
  transform: none !important;
}

.mat-select-value {
  max-width: 90%;
  margin-left: 20px;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #ffc10e;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  width: 1.5em !important;
  height: 1.5em !important;
}

.mat-form-field-suffix .mat-icon {
  font-size: 100% !important;
}

.mat-input-element {
  caret-color: #000 !important;
}

.mat-focused .mat-form-field-label {
  color: #6f6f6f !important;
  font-size: 16px;
}

.mat-form-field-underline {
  background-color: #6f6f6f !important;
}

.mat-form-field-ripple {
  background-color: #6f6f6f !important;;
}

.ng-invalid.ng-touched {
  .mat-form-field-underline {
    background-color: red !important;
  }
  .mat-form-field-ripple {
    background-color: red !important;;
  }
}


.mat-raised-button:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

.tooltip-table {
  width: 100%;
  direction: rtl;
  box-shadow: 0 2px 8px 0 rgba(21, 39, 99, 0.37);
  background-color: white;
  border-spacing: 0;
  border-collapse: unset;

  &--mobile {
    min-width: calc(100% - 80px);
    border-radius: 4px;
    overflow: hidden;
    opacity: .5;

    .tooltip-table__thead tr th .tooltip-table__close {
      display: block;
    }

    .tooltip-table__body tr td {
      margin: unset;
      padding: 8px 18px;

      p.name {
        max-width: 150px;
      }
    }
  }

  &--selected {
    opacity: 1;
  }

  &__head {
    background-color: rgba(102, 119, 158, 1);

    tr th {
      position: relative;
      text-align: start;
      padding: 14px 18px;

      .tooltip-table__title {
        font-size: 14px;
        font-weight: 400;
        word-spacing: 2.5px;
        color: rgba(255, 255, 255, 1);
      }

      .tooltip-table__close {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 14px;
        width: 25px;
        height: 25px;
        transform: rotate(45deg);

        &:before {
          content: '';
          position: absolute;
          width: 12px;
          height: 2px;
          border-radius: 4px;
          background-color: white;
        }

        &:after {
          content: '';
          position: absolute;
          width: 2px;
          height: 12px;
          border-radius: 4px;
          background-color: white;
        }
      }
    }
  }

  &__body tr {
    &:last-of-type {
      td {
        border-bottom: none;
      }
    }

    td {
      display: flex;
      align-items: center;
      margin: 0 18px;
      padding: 8px 0;
      border-bottom: 1px solid rgba(206, 212, 224, 1);

      p {
        margin: 0;
        padding: 0;

        &.name {
          max-width: 80px;
        }

        &.to-end {
          font-weight: bold;
          margin-right: auto;
        }
      }

      .tooltip-pin {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin: 0 8px;
      }
    }
  }
}

.tooltip-vertical-line {
  width: 1px;
  position: absolute;
  transform: translateX(-50%);
  background-color: #18285fa6;
  pointer-events: none;
}
