<form
  [formGroup]="form"
  novalidate class="mobile-selectors"
  *ngIf="collection.length && collapsed"
>
  <div class="index-content" *ngIf="collection.length">
    <div class="index-col col-{{elem.col}}" *ngFor="let elem of collection; let i = index;">
      <div class="checkbox-wrapper item-{{elem.row}}">
        <mat-checkbox
          labelPosition="before"
          [checked]="true"
          (change)="onCheckValue(elem, $event.checked, colors[2][i], i, 2+1)"
        >
          {{ elem.indexName }}
        </mat-checkbox>
      </div>
    </div>
  </div>
</form>

<form [formGroup]="form" novalidate class="selectors" *ngIf="!collapsed">
  <div class="index-content" *ngIf="indexCollection">
    <div class="index-col col-3" formGroupName="indexThree">
      <div class="header">{{indexCollection[2]?.productName}}</div>
      <div class="checkbox-wrapper item-{{i}}" *ngFor="let ind of indexCollection[2]?.indices; let i = index;">
        <mat-checkbox
          labelPosition="before"
          [checked]="isChecked(ind.indexName)"
          (change)="onCheckValue(ind, $event.checked, colors[2][i], i, 2+1)"
          [disabled]="(!isChecked(ind.indexName) && collection.length >= 3)"
        >
          {{ ind.indexName }}
        </mat-checkbox>
      </div>
    </div>
    <div class="index-col col-2">
      <div class="header">{{indexCollection[1]?.productName}}</div>
      <div class="checkbox-wrapper item-{{i}}" *ngFor="let ind of indexCollection[1]?.indices; let i = index;">
        <mat-checkbox
          labelPosition="before"
          [checked]="form.controls['indexTwo'].value === ind.indexName"
          (change)="onCheckValue(ind, $event.checked, colors[1][i], i, 1+1)"
          [disabled]="(!isChecked(ind.indexName) && collection.length >= 3)"
        >
          {{ ind.indexName }}
        </mat-checkbox>
      </div>
    </div>
    <div class="index-col col-1">
      <div class="header">{{indexCollection[0]?.productName}}</div>
      <div class="checkbox-wrapper item-{{i}}" *ngFor="let ind of indexCollection[0]?.indices; let i = index">
        <mat-checkbox
          labelPosition="before"
          [checked]="form.controls['indexOne'].value === ind.indexName"
          (change)="onCheckValue(ind, $event.checked, colors[0][i], i, 1)"
          [disabled]="(!isChecked(ind.indexName) && collection.length >= 3)"
        >
          {{ ind.indexName }}
        </mat-checkbox>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="action-buttons">
      <div class="save">
        <button
          class="mat-button mat-raised-button mat-primary"
          (click)="save()"
          [disabled]="!form.controls['indexThree'].value && !form.controls['indexTwo'].value && !form.controls['indexOne'].value"
        >
          הצגה
        </button>
      </div>
      <div class="close">
        <button
          class="mat-button"
          (click)="close()"
        >
          ביטול ההשוואה
        </button>
      </div>
    </div>
  </div>
</form>
